	
	<div class="contact">
		<div class="container">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h2>Contáctenos</h2>					
				</div>
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
					<p>Rellenar con alguna descripcion</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="col-md-7">
			<div class="map">				
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1638.8452600668363!2d-55.748102287115714!3d-34.763387996627706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959ff67d31b85dff%3A0x8e244318664ef911!2sAlCubo%20Construcciones%20Modulares!5e0!3m2!1ses-419!2ses!4v1572725890512!5m2!1ses-419!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
			</div>
		</div>
		
		<div class="contact-info">
			<div class="col-md-5">
				<ul>
					<li><i class="fa fa-home fa-1x"></i> Ruta Interbalnearia Km. 47 Las Toscas - Canelones</li>
					<li><i class="fa fa-phone fa-1x"></i> 098 906 651 - 43724329</li>
					<li><i class="fa fa-envelope fa-1x"></i> ventas@proyectosejc.com</li>
					<li><i class="fab fa-facebook-square fa-1x"></i><a target="_blank" href="https://www.facebook.com/EJC-Proyectos-102909481119160/">  @proyectosejc</a></li>
					<li><i class="fab fa-instagram fa-1x"></i> <a target="_blank" href="https://www.instagram.com/proyectosejc/?hl=es">  @proyectosejc</a></li>
				
				</ul>
			</div>
		</div>
	</div>
	
	<div class="contact-form">
		<div class="container">
			<div class="col-md-4">
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputName" placeholder="Nombre">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputPhone" placeholder="Teléfono">
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="col-lg-12">				
				<textarea class="form-control" rows="5"></textarea>			
				<div class="form-group">
					<button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Enviar mensaje</button>
				</div>
			</div>
		</div>
		
	</div>
