<section id="blog" class="container">
    <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>FAQs</h2>                   
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <p>7 Pasos básicos y sencillos para comprar un producto de Alcubo</p>
        </div>
    </div>

    <div class="blog">
        <div class="row">
             <div class="col-md-10">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-10 col-sm-2 text-center">
                         </div>      
                        <div class="col-xs-10 col-sm-10 blog-content">
                            <div id="accordion">
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingOne">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Paso 1
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion">
                                  <div class="card-body">
                                    <p>Se contacta con el vendedor. (Emilio de León – 098 906 651 – 4372 4329)
                                        <br>Pide una entrevista informativa en las oficinas de EJC Proyectos
                                        <br>1º entrevista, el cliente solicita:
                                        <br>- información general del producto.
                                        <br>- Información puntual del producto que necesita.
                                        <br>- Costos, tiempo de ejecución y de entrega.
                                        <br>- Normativa municipal, aportes a BPS etc.
                                        <br><br>1º entrevista, el cliente proporciona:
                                        <br> - que está necesitando, comodidades, tipo de terminaciones, m2 etc.
                                        <br>- la mayor información posible del lugar a ejecutar el proyecto. (padrón,
                                        manzana, solar. Localidad, retiros, dimensiones en m2, plano del mismo,orientación, etc.
                                    </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingTwo">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Paso 2
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body" style="text-align: center;">
                                    <p>EJC Proyectos envía por mail proyecto primario PDF o DWG y formulario con los costos.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingThree">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"style="color: #ED502E;"data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Paso 3 (*)
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                  <div class="card-body" style="text-align: center;">
                                    
                                    <p>2º entrevista in situ:
                                        <br>Viabilidad del proyecto.
                                        <br>EJC Proyectos visita el lugar y evalúa la viabilidad del proyecto, se verifica tamaño del terreno, retiros,
                                        orientación, nivel a la calle, accesibilidad etc.
                                        <br>Después de la visita, si es pertinente se ajustan detalles básicos del proyecto y se mandan nuevamente por
                                        mail con los costos y posible fecha de entrega.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingFour">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      Paso 4
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                  <div class="card-body" style="text-align: center;">
                                    <p>Se seña el proyecto con el 30 % del importe final del presupuesto primario, en ese mismo             momento se
                                    agenda una fecha de entrega final.
                                    </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingFive">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Paso 5
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                  <div class="card-body">
                                        <p>Dependiendo del tamaño del proyecto, Ej. 48 m2 entre 30 y 45 días antes de la fecha de entrega estipulada
                                        se coordina la tercera entrevista (en nuestra oficina)
                                        <br><b>3º entrevista en oficinas de EJC:</b>
                                        <br>-Se ajustan detalles finales de terminación, revestimientos, etc.
                                        <br>-Es la última instancia de cambios, correcciones de planos, o modificaciones en el formulario de costos.
                                        <br>-En los casos que el cliente proporciona equipamiento Ej: mobiliario cocina, baño, revestimientos etc.
                                        <br>Estos artículos se tienen que dejar en la empresa en ésta tercera entrevista.
                                        <br>-Se deposita la segunda entrega. Que es del 40 % del importe final del formulario actualizado de costos. </p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingSix">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                      Paso 6
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                  <div class="card-body" style="text-align: center;">
                                    <p><b>EJC</b> envía por mail proyecto final PDF, DWG, formulario final con los costos donde figuran las dos
                                    Entregas anteriormente mencionadas. De esta forma el cliente tiene toda información actualizada y clara.</p>
                                    </div>
                                </div>
                              </div>
                              <div class="card">
                                <div class="card-header" style="text-align: center;" id="headingSeven">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" style="color: #ED502E;"data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                      Paso 7
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                                  <div class="card-body" style="text-align: center;">
                                    <p>En la fecha de entrega estipulada, el cliente recibe las llaves, verifica que sea lo pactado en el formulario, expresa su conformidad y deposita el saldo final (30 %)
                                    </p>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>    
                </div><!--/.blog-item-->
                    
                <div class="blog-item">
                    <div class="row">
                         <div class="col-sm-2 text-center">
                            <!-- <div class="entry-meta"> 
                                <span id="publish_date">05  APR</span>
                                <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
                                <span><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>
                                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                            </div> -->
                        </div>
                        <div class="col-sm-10 blog-content">
                            <h4>(*)En el paso 3 en caso de que el proyecto se ejecute con toda la normativa municipal y de BPS, se  pone en contacto también con el Arquitecto a cargo de la gestoría, firma etc.</h4>
                        </div>
                    </div>    
                </div><!--/.blog-item-->
            </div><!--/.col-md-8-->

            
        </div><!--/.row-->
    </div>
</section>